.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #34C94B ;/* Adjust as per design */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }